[Unit]
Description=Ansible Playbook Auto-Deploy
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/rpi-home-setup-deploy.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ansible-deploy
Restart=no

[Install]
WantedBy=multi-user.target
