# {{ ansible_managed }}

[Interface]
PrivateKey = {{ wg_private_key_client }}
Address = {{ wg_client_vpn_ip }}/32

[Peer]
PublicKey = {{ vpn.wg_public_key_server }}
Endpoint = {{ wg_server_lan_ip }}:51820
AllowedIPs = {{ wg_vpn_subnet }}
