---
- name: Create data directory
  file:
    path: "{{ data_directory }}"
    state: directory
    mode: "0777"
    owner: 1000
    group: 1000

- name: Install main systemd service unit
  template:
    src: wealth_tracker.service.j2
    dest: /etc/systemd/system/wealth_tracker.service

- name: Install deployment script
  template:
    src: deploy_wealth_tracker.sh.j2
    dest: /usr/local/bin/deploy_wealth_tracker.sh
    mode: "0755"

- name: Install updater systemd service unit
  template:
    src: wealth_tracker_update.service.j2
    dest: /etc/systemd/system/wealth_tracker_update.service

- name: Install updater systemd timer unit
  template:
    src: wealth_tracker_update.timer.j2
    dest: /etc/systemd/system/wealth_tracker_update.timer

- name: Reload systemd
  systemd:
    daemon_reload: yes

- name: Log into container registry
  community.docker.docker_login:
    registry_url: "{{ wealth_tracker.registry.url }}"
    username: "{{ wealth_tracker.registry.username }}"
    password: "{{ wealth_tracker.registry.password }}"

- name: Enable and start wealth_tracker update timer
  systemd:
    name: wealth_tracker_update.timer
    enabled: yes
    state: started

- name: Trigger an update immediately
  systemd:
    name: wealth_tracker_update.service
    state: started
