---
- name: Restart deluged completely
  service:
    name: deluge-web
    state: stopped

- name: Restart deluged completely
  service:
    name: deluged
    state: stopped

- name: Restart deluged completely
  systemd_service:
    daemon_reload: true

- name: Restart deluged completely
  service:
    name: deluged
    state: started

- name: Restart deluged completely
  service:
    name: deluge-web
    state: started
