[Unit]
Description=Docker Image Prune Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/docker-prune.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
